$azul: #1936C6;
$verde: #19C63C;
$black: black;
$white: white;


$rosa-suave: #FFC2D1;
$rosa-medio: #FCA0B2;
$rosa-fuerte: #FF7D89;
$verde-esmeralada: #48A3A8;
$verde-agua: #9FC9CC;
$amarillo-huevo: #FDD540;
$gris-topo: #2A2A2A;
$gris-claro: #CCCCCC;
$gris-muyclaro:#F8F8F8;
